Sample_Empty/bin/
Sample_Empty/gen/
Sample_Lists/bin/
Sample_Lists/gen/
Sample_Sqlite/bin/
Sample_Sqlite/gen/
StartDroidFull/bin/
StartDroidFull/gen/
StartDroidLight/bin/
StartDroidLight/gen/
