<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.knuchel.start.android" android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="10" />

	<!-- Tester si la connexion au reseau est possible -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- <uses-permission android:name="android.permission.INTERNET" /> -->
	<!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
	<!-- <uses-permission android:name="android.permission.USE_CREDENTIALS" 
		/> -->
	<!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
		/> -->


	<application android:label="@string/app_name" android:icon="@drawable/icon"
		android:theme="@style/Theme.GeneralTheme">
		<activity android:name=".ui.HomeActivity" android:label="@string/app_name"
			android:theme="@style/Theme.GeneralTheme.Home">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.StartActivityty"></activity>
		<activity android:name=".ui.SettingsActivityty"></activity>
		<activity android:name=".ui.demo.Demo_ActionBar_MainActivity"></activity>
		<activity android:name=".ui.demo.Demo_ActionBar_OtherActivity"></activity>
		<activity android:name=".ui.demo.Demo_Dashboard_MainActivity"></activity>
		<activity android:name=".ui.demo.Demo_Services_MainActivity"></activity>
		<activity android:name=".ui.demo.Demo_Settings_MainActivity"></activity>
		<activity android:name=".ui.demo.Demo_TabActivity_HostActivity"></activity>
		<activity android:name=".ui.demo.Demo_TabActivity_FirstActivity"></activity>
		<activity android:name="ui.demo.Demo_TabActivity_SecondActivity"></activity>
	</application>

</manifest>